body {
    background-color: rgb(192, 219, 210);
    margin: 0px;
}

.three-dee {
    width: 100%;
    border: 5px solid rgb(66, 66, 133);
    font-size: 0px;
}

#canvas {
    width: 100%;
    background-color: white;
    margin: 0px;
    padding: 0px;
}